{% extends "base.html" %}

{% block content %}
<div class="card">
    <h5 class="card-header">
        {{ agent.first_name|capfirst }} {{ agent.last_name|capfirst }}
    </h5>

    <div class="card-body">
        <h5 class="card-title">
            Email Address
        </h5>
        <p class="card-text">
            {{ agent.email_address }}
        </p>

        <h5 class="card-title">
            Phone Number
        </h5>
        <p class="card-text">
            {{ agent.phone_number }}
        </p>

        <h5 class="card-title">
            Provider
        </h5>
        <p class="card-text">
            {{ agent.provider }}
        </p>
    </div>
</div>
{% endblock %}